.clue-container {
    max-height: 45em;
    padding-bottom: 25px;
}

.clue-list {
    height: calc(100% - 30px);
    overflow-y: scroll;
}

.clue {
    border-left: 10px solid transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 1px;
}

.clue span {
    line-height: 1.4;
    margin-right: 5px;
}

.clue-num {
    font-size: 1.25em;
    font-weight: 700;
    margin-right: 10px;
    text-align: right;
    min-width: 24px;
    width: 24px;
    color: #9b4dca;
}

.clue-text {
    margin-left: 5px;
    font-size: 1.25em;
    font-weight: 700;
}

.clue-filled {
    color:#d2d2d2;
}

.clue-related {
    background-color:#ffeca0;
}

.clue-selected {
    background-color:#a7d8ff;
}

.clue-highlighted {
    border-left-color:#a7d8ff;
}

ol, ul {
    list-style: none;
}

.row {
    width: 100%;
}

.cell {
    width: 3em;
    height: 3em;
    border: 1px solid #cdcdcd;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: relative;
    cursor: pointer;
}

.black {
    background-color: #000;
}

.circle {

}

.number {
    color: #444;
    font-size: 1.1em;
    font-weight: bold;
    position: absolute;
    top: -6px;
    left: -1px;
}

.cell-input {
    width: 100%;
    height: 100%;
    padding: 0em;
    border: none;
    text-align: center;
    font-size: 1.6em;
    color: #7b35a5;
    z-index: 10;
    cursor: pointer;
    caret-color: transparent;
}

.container {
    max-width: 100% !important;
}

.active-clue-panel {
    border: 5px solid #a7d8ff;
    border-radius: 10px;
    padding: 5px 10px;
    position: relative;
    top: -10px;
    font-weight: bold;
}

.incorrect-answer input {
    background-color: #ffb6b6;
}

.active-clue input {
    background-color: #a7d8ff;
}

.active-cell input {
    background-color: #ffff58;
}